.calculadora{
    width: 300px;
    background-color: turquoise;
}

.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.botones button{
    padding: 15px 0;
    color: white;
}

img {
    width: 100%;
}
